span {
	vertical-align: middle;
	margin-left: 1em;
	margin-right: 5px;
}
canvas {
	vertical-align: middle;
	margin-top: 1em;
	margin-bottom: 1em;
}

img {
	margin-left: 20px;
	height: 50px;
	vertical-align: middle;
}

#signs li {
	display: inline-block;
	white-space: nowrap;
}
