@font-face { 
	font-family: 'Hieroglyphic';
	src: url('NewGardiner.otf') format('opentype');
	font-feature-settings: 'liga';
}

.grammar {
	font-family: "Courier New", Courier, monospace;
	white-space: pre;
}

.nt {
	color: #0057b8;
	font-weight: bold;
}

.t {
	font-family: Hieroglyphic;
	font-size: 20px;
	letter-spacing: 2px;
}

.op {
	color: #aa0000;
	font-weight: bold;
}

td.h {
	font-family: Hieroglyphic;
	font-size: 20px;
	letter-spacing: 2px;
}
